<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/all.js"></script>
    <title>台北一日遊</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1><a href="#">台北一日遊</a></h1>
            <ul class="menu">
                <li class="mr-10"><a href="#">預定行程</a></li>
                <li><a href="#">登入</a></li>
                <p>/</p>
                <li><a href="#">註冊</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="banner">
            <div class="slogan">
                <h2>輕鬆享受台北一日悠閒</h2>
                <h3>探索每個角落，體驗城市的深度旅遊行程</h3>
                <form class="searchbar">
                    <input type="search" class="search" id="keyword" placeholder="輸入景點名稱查詢">
                    <input type="button" class="button" id="submit">
                </form>
            </div>
        </div>
        <div class="gallery">
            <ul id="gallery">
            </ul>
        </div>
    </main>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
</body>
</html>